/*
	Kelvin Wallace
	September 18, 2025
*/


/*Extra: &nbsp; &#9475; &nbsp;*/

/* css resset */
body, header, nav, main, footer, h1, div, img, ul
{
	margin: 0;
	padding: 0;
	border: 0;
}

/*Style rules for mobile viewport */

/* styles for navigation */
nav
{
	padding: 1%;
	margin-bottom: 1%;
	width: 70%;
	float: right;
	color: #fff;
} 

nav ul 
{
	list-style-type: none;
	text-align: center;
}

nav li 
{ 
	font-size: 1.5em;
	border-top: 1px solid #fff;
} 

nav li:first-child 
{
	border-top: none;
}

nav li:last-child
{
	border-top: none;
}

nav li a 
{
	display: block;
	padding: .5em 1em;
} 


/* styles for body and images */
body 
{
	background-color: #0E360A;
} 

img 
{
	max-width: 50%;
	display: block;
} 

/* styles for header */
header
{
	width: 25%;
	float: left;
	color: #fff;
}

/* styles for main & divs in main*/
main
{ 
	clear: left;
	background-color: #fff;
	padding: 2%;
	font-size: 1.25em;
	font-family: 'Michroma', sans-serif;
} 

/*styles for footer */
footer p
{
	font-size: .75em;
	text-align: center;
	color: #fff;
	padding: 0 1em;
} 

.round
{
	border-radius: 8px;
}

.tel-link 
{ 
	background-color: #487040; 
	padding: 2%;
	margin: 0 auto;
	width: 80%;
	text-align: center;
	border-radius: 30px;
}

.tel-link a
{ 
	color: #fff;
	text-decoration: none;
	font-size: 1.5em;
	display: block;
}

/* Media Query for Tablet Viewport */
@media screen and (min-width: 630px), print
{
	.tablet-desktop
	{ 
		display: block;
	}
	.mobile
	{ 
		display: none;
	}
	
	/*Tablet Viewport Style rules for nav area */
	nav li 
	{ 
		border-top: none;
		display: inline-block;
		border-right: 1px solid #fff;
	}

	nav li:last-child
	{ 
		border-right: none;
	}

	nav li a 
	{ 
		padding: .1em .75em;
	}

}
	

/*Media Query for Desktop Viewport */
@media screen and (min-width: 1015px), print
{
	/*Desktop Viewport: Style rule for header */
	header
	{ 
		width: 25%;
		float: left;
		padding-bottom: 0;
	}

	/*Desktop Viewport: Style rules for nav area */
	nav 
	{ 
		float: left;
		width: 70%;
		margin: 4em 1em 0 0;
	}
	
	nav ul 
	{ 
		text-align: center;
	}

	nav li 
	{ 
		border: none;
	}

	nav li a 
	{ 
		padding: .1em .75em;
	}
	
	nav li a:hover
	{ 
		color: #000;
		background-color: #7C1528;
	}
}

/*Media Query for Large Desktop Viewports */
@media screen and (min-width: 1921px)
{ 
	#container
	{ 
		width: 1920px;
		margin: 0 auto;
	}
}