/*
	Kelvin Wallace
	September 18, 2025
*/


/*Extra: &nbsp; &#9475; &nbsp;*/

/* css resset */
body, header, nav, main, footer, h1, div, img, ul, aside
{
	margin: 0;
	padding: 0;
	border: 0;
}

/*Style rules for mobile viewport */

/* styles for navigation */
nav
{
	padding: 1%;
	margin-bottom: 1%;
	width: 70%;
	float: right;
	color: #fff;
} 

nav ul 
{
	list-style-type: none;
	text-align: center;
}

nav li 
{ 
	font-size: 1.5em;
	border-top: 1px solid #fff;
} 

nav li:first-child 
{
	border-top: none;
}

nav li:last-child
{
	border-top: none;
}

nav li a 
{
	display: block;
	padding: .5em 1em;
} 


/* styles for body and images */
body 
{
	background-color: #0E360A;
} 

img 
{
	max-width: 100%;
	display: block;
} 

header img
{ 
	max-width: 50%;
	display: block;
}

/* styles for header */
header
{
	width: 25%;
	float: left;
	color: #fff;
}

/*Show mobile class, hide tablet-desktop class */
.mobile
{ 
	display: block;
}

.tablet-desktop
{ 
	display: none;
}

/* styles for main & divs in main*/
main
{ 
	clear: left;
	background-color: #fff;
	padding: 2%;
	font-size: 1.25em;
	font-family: 'Michroma', sans-serif;
} 

/*styles for footer */
footer p
{
	font-size: .75em;
	text-align: center;
	color: #fff;
	padding: 0 1em;
} 

.round
{
	border-radius: 8px;
}

.tel-link 
{ 
	background-color: #487040; 
	padding: 2%;
	margin: 0 auto;
	width: 80%;
	text-align: center;
	border-radius: 30px;
}

.tel-link a
{ 
	color: #fff;
	text-decoration: none;
	font-size: 1.5em;
	display: block;
}

.frame
{ 
	position: relative;
	max-width: 300px;
	margin: auto;
}

.pic-text
{ 
	position: absolute;
	bottom: 0;
	background: rgba(0, 0, 0, .5);
	color: #fff;
	width: 280px;
	padding: 20px;
	text-align: center;
	font-family: Verdana, Arial, sans-serif;
	font-size: 1em;
	font-weight: bold;
}


/* Form Styles */
#form 
{ 
	margin-top: 2%;
	background-color: #f2f2f2;
	padding: 2%;
	color: #000;
}

#form h2
{ 
	text-align: center;
}

fieldset, input, select, textarea
{ 
	margin-bottom: 2%;
}

fieldset legend
{ 
	font-weight: bold;
	font-size: 1.25em;
}

label
{ 
	display: block;
	padding-top: 3%;
}

form #submit
{ 
	margin: 0 auto;
	border: none;
	display: block;
	padding: 2%;
	background-color: #b3b3b3;
	font-size: 1em;
	border-radius: 10px;
}

#smallText
{
	font-size: 0.8em;
}

.bolded
{
	font-weight: bold;
}

/* Media Query for Tablet Viewport */
@media screen and (min-width: 630px), print
{
	.tablet-desktop
	{ 
		display: block;
	}
	
	.mobile
	{ 
		display: none;
	}
	
	/*Tablet Viewport Style rules for nav area */
	nav li 
	{ 
		border-top: none;
		display: inline-block;
		border-right: 1px solid #fff;
	}

	nav li:last-child
	{ 
		border-right: none;
	}

	nav li a 
	{ 
		padding: .1em .75em;
	}
	
	/*Tablet Viewport Style rules for main content area */

	table
	{ 
		border: 1px solid #000;
		margin: 0 auto;
		width: 100%;
		border-collapse: collapse;
	}

	caption
	{ 
		font-size: 1.5em;
		font-weight: bold;
		padding: 1%;
	}

	th, td 
	{ 
		border: 1px solid #000;
		padding: 2%;
	}

	th 
	{
		background-color: #712222;
		color: #000;
		font-size: 1.15em;
	}

	tr
	{
	color: #fff;		
	}
	
	tr:nth-child(even)
	{ 
		background-color: #3E6E3C;
	}
	
	tr:nth-child(odd)
	{ 
		background-color: #589755;
	}
	
	.grid
	{ 
		display: grid;
		grid-template-columns: auto auto auto auto;
		grid-gap: 20px;
	}
	
	.pic-text
	{ 
		font-size: .7em;
		padding: 5px;
	}
	
	aside 
	{ 
		text-align: center;
		font-size: .7em;
		font-style: italic;
		font-weight: bold;
		padding: 10%;
		background-color: rgba(204, 204, 204, .5);
		box-shadow: 5px 5px 5px #000;
		text-shadow: 5px 5px 5px #b3b3b3;
		border-radius: 0 5px;
	}

	.grid-item
	{ 
		grid-column: 1 / span 3;
	}
	
	form
	{ 
		width: 70%;
		margin: 0 auto;
	}
}
	

/*Media Query for Desktop Viewport */
@media screen and (min-width: 1015px), print
{
	/*Desktop Viewport: Style rule for header */
	header
	{ 
		width: 25%;
		float: left;
		padding-bottom: 0;
	}

	/*Desktop Viewport: Style rules for nav area */
	nav 
	{ 
		float: left;
		width: 70%;
		margin: 4em 1em 0 0;
	}
	
	nav ul 
	{ 
		text-align: center;
	}

	nav li 
	{ 
		border: none;
	}

	nav li a 
	{ 
		padding: .1em .75em;
	}
	
	nav li a:hover
	{ 
		color: #000;
		background-color: #7C1528;
	}
	
	.pic-text
	{ 
		font-size: .7em;
		padding: 10px;
	}

	.frame
	{ 
		opacity: .9;
	}

	.frame:hover
	{ 
		opacity: 1;
		box-shadow: 4px 4px 30px #808080;
	}
	
	form 
	{ 
		width: auto;
		display: grid;
		grid-template-columns: auto auto auto;
		grid-gap: 20px;
	}
	
	.btn
	{ 
		grid-column: 1 / span 3;
	}
}

/*Media Query for Large Desktop Viewports */
@media screen and (min-width: 1921px)
{ 
	#container
	{ 
		width: 1920px;
		margin: 0 auto;
	}
	
	table 
	{ 
		width: 80%;
	}
}