/*
	Kelvin Wallace
	September 16, 2025
*/

/* css resset */
body, header, nav, main, footer, h1, div, img
{
	margin: 0;
	padding: 0;
	border: 0;
}

/* styles for body abd images */
body 
{
	background-color: #000;
} 

img 
{
	max-width: 100%;
	display: block;
} 

/* styles for header */
header
{
	width: 25%;
	float: left;
}

/* styles for navigation */
nav
{
	width: 70%;
	float: right;
	margin: 5em 3em 0 0;
} 

nav ul 
{
	list-style-type: none;
	margin: 0;
	text-align: right;
}

nav li 
{ 
	display: inline-block;
	font-size: 1.5em;
	font-family: Verdana, Arial, sans-serif;
} 

nav li a 
{
	display: block;
	color: #fff; /*white, rgb(255, 255, 255)*/
	text-align: center;
	padding: .5em 1em;
	text-decoration: none;
} 

/* styles for main & divs in main*/
main
{ 
	clear: left;
	background-color: #fff;
	padding: 2%;
	font-size: 1.25em;
} 

#weights, #cardio, #training /*id names*/
{
	width: 29%;
	float: left;
	margin: 0 2%;
} 

#excercises
{
	clear:left;
	border-top: 1px solid #000;
	border-bottom: 1px solid black;
	background-color: #f2f2f2;
	padding: 1% 2%;
} 

#exercises dt
{
	font-weight: bold;
} 

#exercises dd
{
	padding: .5% 1% 2% 0;
}

#contact
{
	text-align: center;
}

#contact a
{
	/*ids begin with # */
	color: #660; /*#666600*/
	text-decoration: none;
}

/*styles for footer */
footer p
{
	font-size: .75em;
	text-align: center;
	color: #fff;
	padding: 0 1em;
} 

footer p a 
{
	color: #fff;
	text-decoration: none;
} 

.action
{
	/*classes begin with a period */
	font-size: 1.35em;
	color: #660;
	font-weight: bold;
}

.external-link
{
	color: #660;
	font-weight: bold;
	text-decoration: none;
}

.map
{
	border: 8px solid #000;
}