/*
	Kelvin Wallace
	September 16, 2025
*/

/* css resset */
body, header, nav, main, footer, h1, div, img, ul, figcaption, section, article, aside, video, audio
{
	margin: 0;
	padding: 0;
	border: 0;
}

/* styles for body abd images */
body 
{
	background-color: #000;
} 

img, video 
{
	max-width: 100%;
	display: block;
} 

*
{
	box-sizing: border-box;
}

/*Style rules for mobile viewport */

/* styles for header */
header
{
	top: 0;
	background-color: #000;
	height: 190px;
}

header img
{ 
	margin: 0 auto;
}

/* styles for navigation/hamburger menu */
.mobile-nav a
{ 
	color: #fff;
	font-family: 'Francois One', sans-serif;
	text-align: center;
	font-size: 2em;
	text-decoration: none;
	padding: 3%;
	display: block;
}

.mobile-nav a.menu-icon
{ 
	display: block;
	position: absolute;
	right: 0;
	top: 0;
}

/*Show mobile class, hide tablet-desktop class and id: menu-links*/
.mobile
{ 
	display: block;
}

.tablet-desktop, #menu-links
{ 
	display: none;
}

/* styles for main & divs in main*/
main
{ 
	background-color: #fff;
	padding: 2%;
	font-size: 1.15em;
	font-family: 'Roboto Slab', serif;
} 

.mobile h3
{ 
	text-shadow: 5px 5px 8px #ccc;
}

video
{ 
	margin: 0 auto 4%;
}

article
{ 
	padding: 2%;
}

article h3
{ 
	text-align: center;
}

article img
{ 
	margin: 0 auto;
}

article ul
{ 
	margin-left: 10%;
}

article:nth-of-type(2)
{ 
	background-color: rgba(204, 204, 204, .3);
}

.tel-link 
{ 
	background-color: #404040; 
	padding: 2%;
	margin: 0 auto;
	width: 80%;
	text-align: center;
	border-radius: 5px;
}

.tel-link a
{ 
	color: #fff;
	text-decoration: none;
	font-size: 1.5em;
	display: block;
}

.hours
{
	margin-left: 10%
}

#weights, #cardio, #training /*id names*/
{
	margin: 0 2%;
} 

.round
{
	border-radius: 8px;
}

#contact
{
	text-align: center;
}

#contact .contact-email-link
{
	/*ids begin with # */
	color: #660; /*#666600*/
	text-decoration: none;
}

.action
{
	/*classes begin with a period */
	font-size: 1.35em;
	color: #660;
	font-weight: bold;
	text-shadow: 5px 5px 8px #ccc;
}

.external-link
{
	color: #660;
	font-weight: bold;
	text-decoration: none;
}

.map
{
	border: 2px solid #000;
	width: 95%;
	height: 50%;
}

.frame
{ 
	position: relative;
	max-width: 450px;
	margin: 2% auto;
}

#form 
{ 
	margin-top: 2%;
	background-color: #f2f2f2;
	padding: 2%;
}

#form h2
{ 
	text-align: center;
}

fieldset, input, select, textarea
{ 
	margin-bottom: 2%;
}

fieldset legend
{ 
	font-weight: bold;
	font-size: 1.25em;
}

label
{ 
	display: block;
	padding-top: 3%;
}

form #submit
{ 
	margin: 0 auto;
	border: none;
	display: block;
	padding: 2%;
	background-color: #b3b3b3;
	font-size: 1em;
	border-radius: 10px;
}

.pic-text
{ 
	position: absolute;
	bottom: 0;
	background: rgba(0, 0, 0, .5);
	color: #fff;
	width: 100%;
	padding: 20px;
	text-align: center;
	font-family: Verdana, Arial, sans-serif;
	font-size: 1.5em;
	font-weight: bold;
}

/*styles for footer */
footer p
{
	font-size: .75em;
	text-align: center;
	color: #fff;
	padding: 0 1em;
} 

footer p a 
{
	color: #fff;
	text-decoration: none;
} 

/* Media Query for Tablet Viewport */
@media screen and (min-width: 630px), print
{
	.tablet-desktop
	{ 
		display: block;
	}
	.mobile, .mobile-nav
	{ 
		display: none;
	}

	/*Tablet Viewport: Style rule for header */
	header
	{ 
		padding-bottom: 2%;
	}

	/*Tablet Viewport Style rules for nav area */
	nav
	{
		padding: 1%;
		margin-bottom: 1%;
	} 

	nav ul 
	{
		list-style-type: none;
		text-align: center;
	}

	nav li 
	{ 
		display: inline-block;
		border-right: 1px solid #fff;
		font-size: 1.5em;
		font-family: 'Francois One', sans-serif;
	}

	nav li:last-child
	{ 
		border-right: none;
	}

	nav li a 
	{ 
		padding: .1em .75em;
		display: block;
		color: #fff; /*white, rgb(255, 255, 255)*/
		text-decoration: none;
	}

	/*Tablet Viewport Style rules for main content area */

	table
	{ 
		border: 1px solid #000;
		margin: 0 auto;
		width: 100%;
		border-collapse: collapse;
	}

	caption
	{ 
		font-size: 1.5em;
		font-weight: bold;
		padding: 1%;
	}

	th, td 
	{ 
		border: 1px solid #000;
		padding: 2%;
	}

	th 
	{
		background-color: #000;
		color: #fff;
		font-size: 1.15em;
	}

	tr:nth-child(odd)
	{ 
		background-color: #ccc;
	}

	main ul 
	{ 
		margin: 0 0 4% 10%;
	}

	.grid
	{ 
		display: grid;
		grid-template-columns: auto auto auto;
		grid-gap: 20px;
	}

	.pic-text
	{ 
		font-size: 1em;
		padding: 10px;
	}

	aside 
	{ 
		text-align: center;
		font-size: 1.25em;
		font-style: italic;
		font-weight: bold;
		padding: 2%;
		background-color: rgba(204, 204, 204, .5);
		box-shadow: 5px 5px 8px #000;
		text-shadow: 5px 5px 5px #b3b3b3;
		border-radius: 0 15px;
	}

	.grid-item
	{ 
		grid-column: 1 / span 3;
	}

	#exercises
	{
		clear:left;
		border-top: 1px solid #000;
		border-bottom: 1px solid black;
		background-color: #f2f2f2;
		padding: 1% 2%;
		background: linear-gradient(to right, #ccc, #fff);
	} 

	#exercises dt
	{
		font-weight: bold;
	} 

	#exercises dd
	{
		padding: .5% 1% 2% 0;
	}

	#example
	{ 
		display: none;
	}

	.viewex
	{ 
		font-weight: bold;
		cursor: pointer;
	}

	.offer:hover
	{ 
		transform: scale(1.25);
		cursor: pointer;
	}

	.tel-num
	{ 
		font-size: 1.25em;
	}

	.map
	{ 
		width: 600px;
		height: 450px;
	}

	form
	{ 
		width: 70%;
		margin: 0 auto;
	}

	@keyframes text-animation 
	{
		0% {font-size: 1em;}
		50% {font-size: 2em;}
		100% {font-size: 1.35em;}
	}

	figcaption
	{ 
		-webkit-animation-name: text-animatiom;
		animation-name: text-animation;
		-webkit-animation-delay: 3s;
		animation-delay: 3s;
		-webkit-animation-duration: 5s;
		animation-duration: 5s;
	}
}

/*Media Query for Desktop Viewport */
@media screen and (min-width: 1015px), print
{ 
	/*Desktop Viewport: Style rule for header */
	header
	{ 
		width: 25%;
		float: left;
		padding-bottom: 0;
	}

	/*Desktop Viewport: Style rules for nav area */
	nav 
	{ 
		float: right;
		width: 70%;
		margin: 4em 1em 0 0;
	}

	nav ul 
	{ 
		text-align: right;
	}

	nav li 
	{ 
		border: none;
	}

	nav li a 
	{ 
		padding: .5em 1em;
	}

	nav li a:hover
	{ 
		color: #000;
		background-color: #fff;
		transform: scale(1.3);
	}

	/*Desktop Viewport: Style rules for main content */
	main 
	{ 
		clear: left; /*or use clear: both */
	}

	main h1 
	{ 
		font-size: 1.8em;
	}

	article h3
	{ 
		font-size: 1.75em;
	}

	.pic-text
	{ 
		font-size: 1.5em;
		padding: 20px;
	}

	.frame
	{ 
		opacity: .9;
	}

	.frame:hover
	{ 
		opacity: 1;
		box-shadow: 8px 8px 5px #808080;
		transform: translateY(10px);
	}

	#weights, #cardio, #training
	{ 
		float: left;
		width: 29%;
		margin: 0 2%;
	}

	#exercises
	{ 
		clear: left;
	}

	form 
	{ 
		width: auto;
		display: grid;
		grid-template-columns: auto auto auto;
		grid-gap: 20px;
	}

	.btn
	{ 
		grid-column: 1 / span 3;
	}
}

/*Media Query for Large Desktop Viewports */
@media screen and (min-width: 1921px)
{ 
	#container
	{ 
		width: 1920px;
		margin: 0 auto;
	}

	table 
	{ 
		width: 80%;
	}
}

/*Media Query for Print */
@media print 
{ 
	body 
	{ 
		background-color: #fff;
		color: #000;
	}
}